/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family:"DS Dots Medium";
	src:
		url("fonts/dsdots.eot?") format("eot"),
		url("fonts/dsdots.woff") format("woff"),
		url("fonts/dsdots.ttf") format("truetype"),
		url("fonts/dsdots.svg#DSDots-Medium") format("svg");
	font-weight:normal;
	font-style:normal;
}


.wrapper{
	width: 639px;
	padding: 20px;
	background: black;
	margin: 40px auto;
}

/* Center the container */
#container {
  padding: 10px;
  border: 2px solid rgba(255,255,255,0.6);
  background: black;
  width:615px;
  position: relative;
}

/* Give canvas a background */
canvas {
  background-color:black;
  width: 320px;
  height: 480px;
  float: left;
}

.phrases {
	float: left;
	width: 280px;
	height: 480px;
	position: relative;
	background: url('./images/medinsky-a.png') no-repeat;
	background-position: left 400px;
	background-size: 20%;
	margin-left: 15px;
}

.phrases.win{
	background: url('./images/med-win.png') no-repeat;
	background-position: left 400px;
	background-size: 20%;
}

.phrases.loose{
	background: url('./images/med-facepalm.png') no-repeat;
	background-position: left 406px;
	background-size: 25%;
}

.logo{
	position: absolute;
	top: 10px;
	left: 0;
}

.phrase {
	position: absolute;
    bottom: 0;
    padding: 20px;
    background: black;
    margin: 20px 20px 50px 70px;
    color: #fff;
    box-shadow: 4px 4px 0px black, -4px -4px 0px black, 4px -4px 0px black, -4px 4px 0px black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.phrases.loose .phrase {
	left: 10px;
}

.clearfix {
	clear: both;
}

/* SCORES */
.score-holder {
    padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid rgba(255,255,255,0.6);
	color: #f1c40f;
	position: relative;
	text-align: center;
}

#score {
	font-family: 'DS Dots Medium', sans-serif;
	font-size: 40px
}

#score:before {
    content: 'Всего игр запрещено';
    font-size: 12px;
    position: absolute;
    top: 2px;
    text-transform: uppercase;
    color: #fff;
}

/* sharing */

#share {
	display: none;
	width: 600px;
	height: 300px;
	top: 50px;
	position: absolute;
	z-index: 100;
	left: 20px;
}

#share.show {
	display: block;
}

.shareBtn, .playAgain {
	display: none;
	width: auto;
	position: absolute;
	bottom: 170px;
	color: #fff;
	padding: 15px;
	background: #000;
	margin: 20px;
	font-family: 'Arial';
	border: 2px solid rgba(255,255,255,0.6);
	z-index: 100;
}

.shareBtn.show, .playAgain.show {
	display: block;
	cursor: pointer;
}

.shareBtn {
	bottom: 80px;
	left: 210px;
	height: 16px;
}

.shareBtn img {
	max-width: 20px;
}

.playAgain {
	right: 232px;
}

.shareBtn.fb {
	left: 271px;
}

.shareBtn.tw {
	left: 333px;
}

.shareBtn.img {
	bottom: 20px;
	left: 225px
}

.shareBtn.vk.show:before {
	content: 'Поделись результатом с друзьями';
	position: absolute;
	width: 400px;
	top: -30px;
	text-align: center;
	left: -110px
}

.overlay {
	width: 639px;
	height: 601px;
	position: absolute;
	z-index: 99;
	background: #000;
	top: -2px;
	left: -2px;
	display: none;
}

.overlay.show {
	display: block;
}
